<?xml version="1.0"?>
<launch>

  <include file="$(find ur5_gazebo)/launch/ur5_setup.launch">
    <arg name="gazebo_models" value="$(find manip_e)/data/models:$(find ur5_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
    <arg name="world_name" value="$(find manip_e)/data/worlds/ur5_picking_challenge.world" />
  </include>

  <node name="set_objects" pkg="manip_e" type="add_object.py"
        output="screen"
        launch-prefix="bash -c 'sleep 5; rosservice call
                       gazebo/unpause_physics {};sleep 1 ;$0 $@' "/>
  
</launch>
