<?xml version="1.0"?>
<launch>

  <arg name="gazebo_models" value="$(find
                                   manip_challenge_20204329)/data/models:$(find
                                   ur5_gazebo)/models:$(optenv
                                   GAZEBO_MODEL_PATH)" />
  
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH" value="$(arg gazebo_models)"/>
  
  <node name="multithread_timelapse_challenge" pkg="manip_challenge_20204329" type="multithread_timelapse.py"
        output="screen"/>
  
</launch>
